.exactmetrics-google-ads-lite[data-v-affbf6e3] {
  position: relative;
}
.exactmetrics-upsell-ads-blur[data-v-affbf6e3] {
  filter: blur(10px);
}
.exactmetrics-upsell-overlay[data-v-affbf6e3] {
  top: 170px;
}
.exactmetrics-upsell-content__img[data-v-affbf6e3] {
  overflow: hidden;
}
.exactmetrics-upsell-content__img img[data-v-affbf6e3] {
  width: 400px;
  height: auto;
}